@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$dark-purple: #0c0542;
$light-pink: #f468c7;

body {
    font-family: 'Nunito', sans-serif;
    background-color: #0c0542;
    height: 100vh;
}

.has-text-dark-purple {
  color: $dark-purple;
}

.has-text-light-pink {
  color: $light-pink;
}

.has-background-dark-purple {
  background-color: $dark-purple;
}

.has-background-light-pink {
  background-color: $light-pink;
}

.slick-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    max-width: 300px;
    margin-left: 50px;
    margin-right: 50px;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.slide-text {
    text-align: center;
    color: black;
    font-size: 16px;
    margin-top: 10px;
}