@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

$darkest-purple: #071059;
$dark-purple: #2f1a91;
$purple: #9141cf;
$pink: #f567ff;
$light-pink: #fcb7fe;
$light-blue: #b7fefc;

$title-color: $light-pink;
$title-family: 'DM Sans', sans-serif;
$subtitle-color: $light-pink;
$subtitle-family: 'DM Sans', sans-serif;

$navbar-height: 4rem;
$navbar-background-color: $dark-purple;
$navbar-item-color: $light-pink;
$navbar-item-hover-color: $light-pink;
$navbar-item-hover-background-color: $purple;

/*

    Global

*/

body {
    font-family: 'DM Sans', sans-serif;
    background-color: $dark-purple;
    height: 100vh;
}

.subtitle a {
    color: $light-blue;
    text-decoration: none;
}

.subtitle a:hover {
    color: $light-pink;
}

.subtitle a:active {
    color: $pink;
}

.button {
  padding: 25px 15px 25px 15px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 25px !important;
  background-color: $light-pink !important;
}

.button a {
  font-size: 24px !important;
  font-weight: 500 !important;
  color: $dark-purple !important;
}

.button:hover {
  transition: background-color 0.3s ease;
  background-color: $purple !important;

  a {
    transition: color 0.3s ease;
    color: $light-pink !important;
  }
}

.button:active {
  background-color: $pink !important;

  a {
    color: $dark-purple !important;
  }
}

/*

    index.html

*/

#title {
  padding: 20px;
}

/* 
    Navbar
*/

.navbar {
	width: 100%;
  border-bottom: $darkest-purple solid 4px;
	z-index: 2;
	box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.navbar a {
	font-size: 2rem;
}

.navbar-end {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-grow: 1;
  padding-right: 60px;
}

.navbar-item {
  padding: 0.8rem 1.5rem !important;
  transition: background-color 0.3s ease;
}

.navbar-item:active {
  background-color: $pink !important;
}

.navbar-item.current {
  color: $light-pink;
  background-color: $purple;
}

.navbar-logo {
  width: 74px;
  height: 74px;
}

.navbar-logo img {
  width: 90%;
  margin: 0.25rem 0.25rem !important;
	height: auto;
  border: 2px solid $light-pink;
}

// Navbar burger
.navbar-pfp {
  margin: 0.2rem 0.2rem !important;
  width: 90%;
  height: auto;
  border-radius: 50%;
  border: 2px solid $light-pink;
  transition: border-color 0.3s ease;
}

.navbar-burger:active .navbar-pfp {
  border-color: rgba(255, 255, 255, 0.5);
}


// Mobile navbar

@media screen and (max-width: 768px) {
  .navbar-item {
    padding: 10px 15px !important;
  }
}

.navbar-menu.is-active .navbar-end {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  padding-right: 0 !important;

  .navbar-item {
    text-align: center;
    width: 100%;
  }
}

/*
    Carousel
*/

#carousel {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: $darkest-purple;
  border: 4px solid $light-pink
}

.slick-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  margin-left: 50px;
  margin-right: 50px;
}

.slide img {
  width: auto;
  height: 100%;
  max-height: 368px;
  object-fit: cover;
  border: 4px solid $light-pink;
}

.slide-text {
  text-align: center;
  color: $light-pink;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.slick-dots li button:before {
  color: $light-pink !important;
  font-size: 24px !important;
}

.slick-dots li.slick-active button:before {
  color: $light-pink !important;
  font-size: 24px !important;
}


#carousel  {
  position: relative;
  overflow: hidden;

  .carousel-previous,
  .carousel-next {
    z-index: 999;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 10%;
    color: $dark-purple;
    font-weight: bold;
    text-transform: uppercase;

    &.carousel-previous {
      left: 0;
      background: linear-gradient(to left, rgba(47, 26, 145, 0), rgba(47, 26, 145, 1));
      padding-right: 20px;
    }

    &.carousel-next {
      right: 0;
      background: linear-gradient(to right, rgba(47, 26, 145, 0), rgba(47, 26, 145, 1));
      padding-left: 25px;
    }

    &.carousel-previous:hover {
      background: linear-gradient(to left, rgba(47, 26, 145, 0.5), rgba(47, 26, 145, 1));
    }

    &.carousel-next:hover {
      background: linear-gradient(to right, rgba(47, 26, 145, 0.5), rgba(47, 26, 145, 1));
    }

    &.carousel-previous:active {
      background: linear-gradient(to left, rgba(47, 26, 145, 0.8), rgba(47, 26, 145, 1));
    }

    &.carousel-next:active {
      background: linear-gradient(to right, rgba(47, 26, 145, 0.8), rgba(47, 26, 145, 1));
    }

    button {
      width: 100%;
      height: 100%;
    }

    img {
      width: 50px;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .carousel-previous,
    .carousel-next {
      img {
        max-width: 20px;
        width: 20px;
        padding: 0;
      }
        width: 60px;
      }

      .carousel-previous {
        padding-left: 15px;
      }

      .carousel-next {
        padding-right: 35px;
      }
  }
}

#description {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: $dark-purple;
}

#description-home {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $dark-purple;
  border-bottom: 4px solid $darkest-purple;
}

#commission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $dark-purple;
}

#commission p {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

/*

    gallery.html

*/

body.lb-disable-scrolling {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100%;
}

#gallery {
  background-color: $darkest-purple;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery .columns {
  width: 90vw;
  height: auto;
}

#gallery .columns .column.is-4 {
  flex: 0 0 calc(20% - 20px);
  max-width: calc(20% - 20px);
  box-sizing: border-box;
}

#gallery .columns a {
  display: block;
  width: 100%;
  height: auto;
  border: 4px solid $light-pink;
  transition: transform 0.2s ease-in-out;
}

#gallery .columns a img {
  width: auto;
  height: 100%;
  max-height: 360px;
  vertical-align: top;
  object-fit: scale-down;
}

#gallery .columns a:hover {
  transform: scale(1.05);
}

#gallery .columns.is-multiline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* 

    contact.html

*/

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

#commission-prices {
  background-color: $darkest-purple;
  padding: 20px;
  text-align: center;
  border: 4px solid $light-pink;
}

#commission-prices table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: $light-pink;
  border: #fff solid 1px;
}

#commission-prices th,
#commission-prices td {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

#commission-prices th {
  color: $pink;
  text-align: center;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  #commission-prices li {
    font-size: 16px;
  }
}

#contact {
  text-align: center;
  padding-bottom: 50px;
  background-color: $dark-purple;
}


/*

    tos.html

*/

@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";