@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$darkest-purple: #071059;
$dark-purple: #2f1a91;
$purple: #9141cf;
$pink: #f567ff;
$light-pink: #fcb7fe;

$title-color: $pink;
$title-family: 'Nunito', sans-serif;
$subtitle-color: $pink;
$subtitle-family: 'Nunito', sans-serif;

$navbar-background-color: $dark-purple;
$navbar-item-color: $pink;
$navbar-item-hover-color: $pink;
$navbar-item-hover-background-color: $purple;
$navbar-dropdown-background-color: $purple;
$navbar-dropdown-item-hover-color: $light-pink;
$navbar-dropdown-item-hover-background-color: $pink;
$navbar-dropdown-arrow: $pink;

body {
    font-family: 'Nunito', sans-serif;
    background-color: $dark-purple;
    height: 100vh;
}

/* 
    Navbar
*/

.navbar {
	width: 100%;
  border-bottom: $darkest-purple solid 4px;
	z-index: 2;
	box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.navbar a {
	font-size: 1.5rem;
}

.navbar-logo {
	translate: 0.8rem 0.25rem;
	width: 2.75rem;
	height: 2.75rem;
}


#title {
  padding: 20px;
}

/*
    Carousel
*/

#carousel {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: $darkest-purple;
  border: 4px solid $light-pink
}

.slick-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  margin-left: 50px;
  margin-right: 50px;
}

.slide img {
  width: auto;
  height: 100%;
  object-fit: contain;
  border: 4px solid $light-pink;
}

.slide-text {
  text-align: center;
  color: $light-pink;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.slick-dots li button:before {
  color: $light-pink !important;
}

.slick-dots li.slick-active button:before {
  color: $light-pink !important;
}


.section {
  position: relative;
  overflow: hidden;

  .carousel-previous,
  .carousel-next {
    z-index: 999;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 10%;
    color: $dark-purple;
    font-weight: bold;
    text-transform: uppercase;

    &.carousel-previous {
      left: 0;
      background: linear-gradient(to left, rgba(47, 26, 145, 0), rgba(47, 26, 145, 1));
      padding-right: 20px;
    }

    &.carousel-next {
      right: 0;
      background: linear-gradient(to right, rgba(47, 26, 145, 0), rgba(47, 26, 145, 1));
      padding-left: 25px;
    }

    &.carousel-previous:hover {
      background: linear-gradient(to left, rgba(47, 26, 145, 0.5), rgba(47, 26, 145, 1));
    }

    &.carousel-next:hover {
      background: linear-gradient(to right, rgba(47, 26, 145, 0.5), rgba(47, 26, 145, 1));
    }

    &.carousel-previous:active {
      background: linear-gradient(to left, rgba(47, 26, 145, 0.8), rgba(47, 26, 145, 1));
    }

    &.carousel-next:active {
      background: linear-gradient(to right, rgba(47, 26, 145, 0.8), rgba(47, 26, 145, 1));
    }

    button {
      width: 100%;
      height: 100%;
    }

    img {
      width: 50px;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .carousel-previous,
    .carousel-next {
      img {
        max-width: 20px;
        width: 20px;
        padding: 0;
      }
        width: 60px;
      }

      .carousel-previous {
        padding-left: 15px;
      }

      .carousel-next {
        padding-right: 35px;
      }
  }

  
}


#description {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $dark-purple;
  border-bottom: 4px solid $darkest-purple;
}

#commission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $dark-purple;
}

#commission p {
  color: $pink;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

#commission .button {
  padding: 25px 15px 25px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: $pink;
}

#commission .button a {
  font-size: 24px;
  font-weight: 500;
  color: $dark-purple;
}

/*
    Bulma stuff
*/

#darkest-purple {
  color: $darkest-purple;
  background-color: $darkest-purple;
}

#dark-purple {
  color: $dark-purple;
  background-color: $dark-purple;
}

#purple {
  color: $purple;
  background-color: $purple;
}

#pink {
  color: $pink;
  background-color: $pink;
}

#light-pink {
  color: $light-pink;
  background-color: $light-pink;
}

#gray {
  color: gray;
  background-color: gray;
}

@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";